<nav>
  <a href="/">Home</a>
  <a href="/menu">Full Menu</a>
  <a href="/menu/category/mains">Mains</a>
  <a href="/menu/category/desserts">Desserts</a>
  <a href="/menu/category/sides">Sides</a>
</nav>
